/* .mainDiv1 {
    height: 500px;
    width: 100%;
  margin-bottom: 50px;
  overflow: hidden;
  
}
.window{
   border: 1px solid black;
   height: 500px;

    
    
}
.center{
   width: 1000px;
   overflow-x: scroll;
    display: flex;
}
.nkar{
   width: 80%;
   height: 500px;
} */