.mainTxt{
    font-size: 45px;
    margin-top: 98px;
    font-family:Instrument Serif;
    font-weight: 50;
    letter-spacing: 1px;
    margin-left: 10px;
    line-height:55px;
    margin-bottom: 0;
}
.txt{
    font-family: Quicksand;
    font-size: 19px;
    line-height: 30px;
    margin-left: 10px;
    letter-spacing: 2px;
    top: 0;
    margin-right: 7px;

}
.btns1 {
    height: 42px;
    width: 225px;
    margin-left: 10px;
    margin-top: 12px;
    border: 2px solid black;
    letter-spacing: 2px;
    background-color: #FAF6EF;
    font-size: 11px;
     margin-bottom: 50px;
}
.btns1:hover{
    background-color: black;
    color: white;
   
}
@media(max-width:1000px) {
    .mainTxt{
        font-size: 30px;
        margin-top: 0;
    }
}